grammar {{ grammar_name }}

{% if model.get_enumerations() %}
// Enumerations
{% for enum in model.get_enumerations() %}
type {{ enum.name }} = {% for literal in enum.literals %}'{{ literal.name }}'{% if not loop.last %} | {% endif %}{% endfor %};
{% endfor %}

{% endif %}
// Entry point for the grammar
entry Model:
    'model' name=ID '{'
        (elements+=ModelElement)*
    '}';

ModelElement:
    {% if model.classes_sorted_by_inheritance() %}{% for class in model.classes_sorted_by_inheritance() %}{{ class.name }}{% if not loop.last %} | {% endif %}{% endfor %}{% else %}EmptyElement{% endif %};
{% if not model.classes_sorted_by_inheritance() %}

EmptyElement:
    'empty' ';';
{% endif %}

{% for class in model.classes_sorted_by_inheritance() %}
// {{ class.name }} class definition
{{ class.name }}:
    '{{ class.name.lower() }}' {% if class.parents() %}('extends' parent=[{% for parent in class.parents() %}{{ parent.name }}{% if not loop.last %} | {% endif %}{% endfor %}:ID])? {% endif %}'{'
        {% set navigable_ends = class.association_ends()|selectattr('is_navigable')|list %}
        {% for attribute in class.attributes %}('{{ attribute.name }}' ':' {{ attribute.name }}={% if attribute.type.name == 'str' %}STRING{% elif attribute.type.name == 'int' %}INT{% elif attribute.type.name == 'float' %}FLOAT{% elif attribute.type.name == 'bool' %}BOOLEAN{% elif attribute.type.name == 'date' %}DATE{% elif attribute.type.name == 'datetime' %}DATETIME{% elif attribute.type.name == 'time' %}TIME{% else %}{{ attribute.type.name }}{% endif %}{% if attribute.multiplicity.max > 1 %} ('[' ']'){% endif %} ';')?
        {% endfor %}{% for end in navigable_ends %}{% set field_name = end.owner.name if end.owner and end.owner.__class__.__name__ in ['Association', 'BinaryAssociation'] else end.name %}('{{ field_name }}' ':' {% if end.is_composite %}{{ field_name }}{% if end.multiplicity.max > 1 %}+={% else %}={% endif %}{{ end.type.name }}{% else %}{{ field_name }}{% if end.multiplicity.max > 1 %}+{% endif %}=[{{ end.type.name }}:ID]{% if end.multiplicity.max > 1 %} (',' {{ field_name }}+=[{{ end.type.name }}:ID])*{% endif %}{% endif %} ';')?
        {% endfor %}
    '}';

{% endfor %}

// Primitive type definitions
type PrimitiveType = 'int' | 'str' | 'float' | 'bool' | 'date' | 'datetime' | 'time' | 'timedelta' | 'any';

// Terminal rules
terminal ID: /[_a-zA-Z][\w_]*/;
terminal INT returns number: /[0-9]+/;
terminal FLOAT returns number: /[0-9]+\.[0-9]+/;
terminal STRING: /"[^"]*"|'[^']*'/;
terminal BOOLEAN returns boolean: /true|false/;
terminal DATE: /[0-9]{4}-[0-9]{2}-[0-9]{2}/;
terminal DATETIME: /[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}/;
terminal TIME: /[0-9]{2}:[0-9]{2}:[0-9]{2}/;

hidden terminal WS: /\s+/;
hidden terminal ML_COMMENT: /\/\*[\s\S]*?\*\//;
hidden terminal SL_COMMENT: /\/\/[^\n\r]*/;
